body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.board-container {
  display: flex;
  flex: 1;
  overflow-x: scroll;
  /* flex-direction: column; */
  /* height: 100%; */
  /* width: 100%; */
  /* border: 5px solid black; */
  white-space: nowrap;
}

.list-card {
  display: flex;
  border: 5px solid black;
  margin: 10px;
}

.list-card-hover {
  opacity: 0.5;
  display: flex;
  border: 5px solid black;
}

.list-container {
  display: inline-block;
  flex: 1;
  overflow: auto;
  border: 5px solid black;
  margin: 10px;
}

.list-item {
  display: flex;
  border: 5px solid black;
  margin: 10px;
}

.list {
  margin: 30px;
  cursor: grab;
}

.add-list {
  display: flex;
  margin: 10px;
  padding: 30px;
  border: 5px solid black;
}

.board-card {
  display: flex;
  margin: 50px;
  padding: 30px;
  border: 5px solid black;
}

.board-card-container {
  display: flex;
  align-content: center;
}

.create-board-button {
  display: flex;
  /* padding: 50px; */
  margin: 25px;
  background-color: lightblue;
  cursor: pointer;
  align-content: center;
  text-align: center;
}

.board-navbar {
  display: flex;
}

.board-navbar-item {
  display: flex;
  margin: 0px 25px 0px 25px;
}

.app-container {
  margin: auto;
  text-align: center;
}

.home-container {
  margin: auto;
  text-align: center;
}

.card-header {
  margin: 0px 0px 20px 0px;
}

.logo {
  background-color: black;
  padding: 10px;
}

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}

.navbar nav {
  display: flex;
}
