/* * { padding: 0; margin: 0; } */

body {
  /* height: 100%; */

  display: flex;
  flex-direction: column;
}

/* body > * {
  flex-shrink: 0;
} */

/*
html, body {
  font-family: sans-serif;
  height: 100%;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.board-container {
  display: flex;
  /* flex-grow: 1; */
  /* min-height: 100%; */

  /* flex: 1; */
  overflow-x: scroll;
  /* overflow:auto; */
  /* overflow-y: auto; */
  /* flex-direction: column; */
  /* height: 200%; */
  /* width: 100%; */
  /* border: 5px solid black; */
  /* white-space: nowrap; */
}

.list-card {
  /* display: flex;
  border: 5px solid black; */
  /* background-color: grey; */
  margin: 20px;
}

.list-card-hover {
  opacity: 0.5;
  /* display: flex; */
  /* border: 5px solid black; */
}

.list-container {
  display: inline-block;
  /* flex: 1; */
  overflow: auto;
  border: 5px solid black;
  margin: 10px;
}

.list-item {
  display: flex;
  border: 5px solid black;
  margin: 10px;
}

.list {
  margin: 30px;
  cursor: grab;
}

.add-list {
  display: flex;
  margin: 20px;
  padding: 20px;
  /* border: 5px solid black; */
}

.board-card {
  display: flex;
  margin: 50px;
  padding: 30px;
  border: 5px solid black;
}

.board-card-container {
  display: flex;
  align-content: center;
}

.create-board-button {
  display: flex;
  /* padding: 50px; */
  margin: 25px;
  background-color: lightblue;
  cursor: pointer;
  align-content: center;
  text-align: center;
}

/* .board-navbar {
  display: flex;
} */

/* .board-navbar-item {
  display: flex;
  margin: 0px 25px 0px 25px;
} */

.app-container {
  margin: auto;
  text-align: center;
}

.home-container {
  margin: auto;
  text-align: center;
}

.card-header {
  margin: 0px 0px 0px 0px;
}

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar nav {
  display: flex;
}

.navbar nav a {
  color: lightblue;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: 1em;
  transition: all 0.35s ease;
}

.logo {
  color: lightblue;
  font-size: 2.5em;
}

.board-navbar {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.board-navbar nav {
  display: flex;
}

.board-navbar-user {
  color: lightblue;
  /* display: inline-block; */
  /* text-align: center; */
  font-size: 14px;
  float: left;
  margin: 0 1em;
  /* transition: all 0.35s ease; */
}

.board-navbar-name {
  color: lightblue;
  /* display: inline-block; */
  font-size: 16px;
  /* margin: 1em;
  transition: all 0.35s ease; */
}

.card-spacing {
  margin: 20px;
}
