body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.board-container {
  display: flex;
  /* border: 5px solid black; */
}

.list-card {
  /* display: flex; */
  border: 5px solid black;
  margin: 10px;
}

.list-card-hover {
  opacity: 0.5;
  display: flex;
  border: 5px solid black;
}

.list-container {
  display: flex;
  border: 5px solid black;
  margin: 10px;
}

.list-item {
  display: flex;
  border: 5px solid black;
  margin: 10px;
}

.list {
  margin: 30px;
  cursor: grab;
}

.add-list {
  display: flex;
  margin: 10px;
  padding: 30px;
  border: 5px solid black;
}

.board-card {
  display: flex;
  margin: 50px;
  padding: 30px;
  border: 5px solid black;
}

.board-card-container {
  display: flex;
  align-content: center;
}

.create-board-button {
  display: flex;
  /* padding: 50px; */
  margin: 25px;
  background-color: lightblue;
  cursor: pointer;
  align-content: center;
  text-align: center;
}
